/* Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: "Playfair Display", serif; */
/* font-family: "Bebas Neue", sans-serif; */
/* font-family: "Roboto", sans-serif; */

.custom-font {
  font-family: "Playfair Display", serif;
}

.custom-font-2 {
  font-family: "Bebas Neue", sans-serif;
}

.custom-font-3 {
  font-family: "Roboto", sans-serif
}

/* Reset */
* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Root Variables */
:root {
  --primary-color: #701c59;
  --secondary-color: #202020;
  --tertiary-color: #DC6C27;
  --quaternary-color: #A9EFFF;
}

/* General Styles */
.img-fluid {
  aspect-ratio: 100/123;
  object-fit: contain;
  width: 50px;
}

.nav-link {
  transition: all 300ms ease-in-out;
  border-radius: 20px;
  padding-block: 0px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

p.about-text {
  font-size: 28px;
}

.custom-bg {
  background-color: var(--secondary-color);
}

body {
  color: white;
  font-family: Roboto, sans-serif;
}


/* Button */
.btn-primary {
  color: var(--secondary-color);
  background-color: var(--tertiary-color);
  border-color: var(--quaternary-color);
  font-size: 14px;
}

.btn-primary:hover {
  color: var(--secondary-color);
  background-color: var(--quaternary-color);
  border-color: var(--tertiary-color);
  font-size: 14px;
}

.luminary {
  opacity: .75;
}

.btn-secondary {
  color: var(--secondary-color);
  background-color: var(--quaternary-color);
  border-color: var(--secondary-color);
  font-size: 18px;
}

.btn-secondary:hover {
  color: white;
  background-color: var(--secondary-color);
  border-color: var(--quaternary-color);
  font-size: 18px;
}

/* Navigation  */
#skipnav{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#skipnav a{
  background-color:var(--primary-color);
  color: #000;
  font-weight: bold;
  padding: 15px 5px;
  position: absolute;
  top: -50px;
  text-decoration:none;
}

#skipnav a:focus{
  outline: 5px solid #FFF;
  top:0;
}

.nav-item:hover {
  border-radius: 5px;
  border-color: black;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  color: white;
}

.spacer {
  display: flex;
  flex-grow: 1;
}

.navbar a {
  color: white;
}

.navbar ul {
  gap: 50px;
  font-size: larger;
}

/* Mobile Navigation - White Toggler Icon */
.navbar-toggler-icon {
  background-color: white;
}

#toggeler {
  color: white;
}

.navbar a.active {
  color: white !important;
  border-radius: 20px;
  outline: 2px solid white;
  color: white;
}

/* Home Page */
.main-home {
  background-image: url("./images/home-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Portfolio Page */
.portfolio-page.navbar {
  background-color: var(--secondary-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  color: white;
}

.custom-flex-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.custom-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  height: 90%;
  flex: 50%;
  height: 90%;
  background-color: black;
  border: 1px solid #dc6c27;
  border-top: 0;
  color: white;
}

.photography-col {
  background-image: url("./images/portolio-bg-1.jpg");
  background-size: cover;
}

.videography-col {
  background-image: url("./images/portolio-2-bg.jpg");
  background-size: cover;
}

.main-portfolio {
  padding-bottom: 200px;
}

/* Galleries */
.thumbnail-portrait {
  width: 218px;
  height: 273px;
  object-fit: cover;
}

.thumbnail-landscape {
  height: 273px;
  object-fit: cover;
}

.thumbnail{
  width: 100%;
  object-fit: cover;
}

/* About Page */
.main-about {
  background-image: url("./images/about-bg.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Contact Page */
.main-contact {
  background-image: url("./images/contact-bg.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

/* Form Container */
.form-container {
  width: 100%;
  max-width: 600px;
  margin: 160px auto 0 auto;
}

.form-container form {
  width: 100%;
  margin: 0 auto;
}

.form-control{
  background-color: var(--secondary-color);
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--primary-color);
}

.fa-brands {
  aspect-ratio: 1;
  font-size: 30px;
  color: white;
}

.footer-location ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-location ul li a{
  color: white;
  text-decoration: none;
}

/* Contact Page - Icons */

.contactIcons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.icon {
  text-align: center;
}

.icon i {
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.icon span {
  display: block;
  margin-top: 5px;
  color: white;
}

.icon a {
  text-decoration: none;
}

/* Media Queries */
@media screen and (min-width: 923px) {
  .hvr-round-corners:hover {
    transition: all 300ms ease-out;
    border-radius: 20px;
    outline: 2px solid white;
    color: white;
  }
}

@media screen and (max-width: 992px) {
  .navbar-nav li a {
    color: #CCC !important;
  }

  .navbar-nav li a.active {
    outline: none !important;
    text-decoration-line: underline;
  }

  .form-container form {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .spacer {
    display: none;
  }

  .navbar ul {
    gap: 5px;
    font-size: large;
    text-align: center;
  }

  main {
    padding-bottom: 150px;
  }

  .custom-flex-container {
    flex-direction: column;
    width: 100%;
    height: 600px;
  }

  .custom-col {
    height: 270px;
  }

  .flex-gallery {
    display: none;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 14px;
  }

  p.about-text {
    font-size: 16px;
  }

  .main-portfolio .custom-flex-container{
    height: 85vh;
  }
  .main-portfolio .custom-flex-container .custom-col{
    height: 50%;
  }
  } 
  
  .live-events-gallery{
  
    width: 100%;
  
}

@media only screen and (max-width: 600px) {
  .gallery-slider {
    display: block;
  }

  .live-events-gallery img{
    width: 100%;
    object-fit: cover;
  }
}

@media only screen and (min-width: 601px) {
  .gallery-slider {
    display: none;
  }
}

@media only screen and (min-width: 922px) {
  .footer-location {
    width: 260px;
  }

  .img-fluid {
    aspect-ratio: 231/103;
    object-fit: cover;
    width: 100px;
  }

}

@media only screen and (max-width: 991px) {
  #navbar{
    background-color: #202020ea;
  }
}